<h3>Convert your URL to a shortlink:</h3>

<br>
<%= form_for @shortlink do |f| %>
  <p><%= f.label :email, "Your email:" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :original, "URL to shorten:" %>
    <%= f.text_field :original %>
  </p>
  <p>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </p>
<% end %>
