<br>
<h3>Convert your URL to a short link:</h3>

<br>
<%= form_for @shortlink do |f| %>
  <p><%= f.label :email, "Your email:" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :original, "URL to shorten:" %>
    <%= f.text_field :original %>
  </p>
  <p>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </p>
<% end %>

<br>
<h3>Search for a saved short link:</h3>
<br>
<p><%= link_to "Search", shortlinks_path, class: 'btn btn-success' %></p>
